extends layout

block content

    .container
        .featured-content
            .row-fluid

                .span4
                    .contact-form
                        .block-title

                            h1 Login Page
                            p.lead
                                != messages()
                        .block-content
                            form(role='form', action="/login",method="post", style='max-width: 300px;')
                                fieldset
                                    input.input-block-level(type='text', name="username", placeholder='Enter Username',
                                    required, data-required-msg='Username is required')
                                    input.input-block-level(type='password', name="password", placeholder='Password',
                                    required, data-required-msg='Password is required')
                                    button.btn(type='submit')
                                        | Login
                                        i.fw-icon-arrow-right

            //script.
            //
            //    $(function() {
            //
            //        // validate the login form before submit
            //        $("#login-form").kendoValidator();
            //
            //    });