extends layout

block content
    .container
        if (user)
            form(role='form', action="/editmoviedetails/" + movie._id ,method="get", style='max-width: 300px;')
                <input type="hidden" name="_method" value="get"/>
                button.btn.btn-default(type='submit') Edit
            br
            br
            form(role='form', action="/moviedetails/" + movie._id + "?_method=DELETE",method="post", style='max-width: 300px;')
                <input type="hidden" name="_method" value="delete"/>
                button.btn.btn-default(type='submit') Delete
            br
        h1 #{ movie.name}
        br
        br
        img(width='100', height='100' src= imagePath, alt="Image Title")
        br
        br
        video#my-player.video-js(controls='', preload='auto', poster= '', data-setup='{}', width='650', height='400')
            source(src= videoPath, type='video/mp4')
            source(src= videoPath, type='video/webm')
            source(src= videoPath, type='video/ogg')
            p.vjs-no-js
                | To view this video please enable JavaScript, and consider upgrading to a
                | web browser that
                a(href='http://videojs.com/html5-video-support/', target='_blank')
                    | supports HTML5 video
        br
        p.lead #{ movie.details}
        br

