extends layout

block content


    .container
        .featured-content
            .row-fluid

                .span4
                    .contact-form
                        .block-title

                            h1 Sign Up
                            br
                            p.lead
                                != messages()
                        .block-content
                            form(role='form', action="/register",method="post", style='max-width: 300px;')
                                fieldset
                                    input.input-block-level(type='text', name="username", placeholder='Enter Username')
                                    input.input-block-level(type='password', name="password", placeholder='Password')
                                    button.btn(type='submit')
                                        | Sign Up
                                        i.fw-icon-arrow-right
