extends layout

block content


    .container
        .featured-content
            .row-fluid

                .span4
                    .contact-form
                        .block-title

                            h1 Sign Up
                            br
                            p.lead
                                != messages()
                        .block-content
                            form(role='form', action="/register",method="post", style='max-width: 300px;')
                                fieldset
                                    input.input-block-level(type='text', name="username", placeholder='Enter Username',
                                    required, data-required-msg='Username is required')
                                    input.input-block-level(type='password', name="password", placeholder='Password',
                                    required, data-required-msg='Password is required')
                                    button.btn(type='submit')
                                        | Sign Up
                                        i.fw-icon-arrow-right
            //script.
            //    $(function() {
            //
            //        // validate the login form before submit
            //        $("#login-form").kendoValidator();
            //
            //    });
            //script.
            //    $(function() {
            //
            //        // cache references to input controls
            //        var username = $('#username');
            //        var password = $('#password');
            //
            //        $("#register-form").kendoValidator({
            //
            //            rules: {
            //
            //                passwordMatch: function(input) {
            //
            //                    // passwords must match
            //
            //                    if (input.is('#password')) {
            //                        return $.trim(password.val());
            //                    }
            //
            //                    return true;
            //
            //                },
            //
            //                usernameMatch: function(input) {
            //
            //                        // email addresses must match
            //
            //                        if (input.is('#username')) {
            //                            return $.trim(username.val());
            //                    }
            //
            //                    return true;
            //
            //                }
            //            },
            //            messages: {
            //
            //                // custom error messages. email gets picked up
            //                // automatically for any inputs of that type
            //
            //                passwordMatch: 'The passwords don\'t match',
            //                    usernameMatch: 'The email addresses don\'t match',
            //                    email: 'That doesn\'t appear to be a valid email address'
            //
            //            }
            //
            //        }).data('kendoValidator');
            //
            //    });