extends layout

block content
    .container
        .featured-content
            .row-fluid

                .span5
                    .contact-form
                        .block-title

                            h1 Upload movie
                            p.lead
                                != messages()
                        .block-content
                            form(role='form', action="/upload",method="post", style='max-width: 600px;', enctype="multipart/form-data")
                                fieldset
                                    input.input-block-level(type='text', name="movieName", placeholder='movie name')
                                    textarea.input-block-level(type='text', name="movieDetails", placeholder='details', style='min-height:150px;', rows='10', cols='10', color= '#ff0000')
                                    //textarea.input(rows='10', cols='10') Some text here
                                    label.control-label()
                                        | Upload avatar image
                                        span.requerido  *

                                        input.form-control(type='file', name="movieAvatar", align='top')
                                    label.control-label()
                                        | Upload video
                                        span.requerido  *

                                        input.form-control(type='file', name="movieVideo")
                                    button.btn(type='submit')
                                        | Upload
                                        i.fw-icon-arrow-right